{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT MANAGEMENT</title>
    <link rel="icon" href="\site1\home\favicon-32x32.png" type="image/x-icon">
    {% comment %} bootstrap {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {% comment %} font {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'CSS\home.css' %}" rel="stylesheet">
    <script> src="{% static 'JS\home.js' %"></script>

    
</head>
<body>
    <img id="banner" src="static\IMG\background3.jpg">
        <div class="taskbar">
            <img src="static\IMG\logouth.jpg" alt="Avatar" class="rounded-circle">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <div class="button-menu">
                    <button id="home" onclick="window.location.href='https://courses.ut.edu.vn/'">TRANG CHỦ</button>
                    <button id="event" onclick="window.location.href='https://sv.ut.edu.vn/'">SỰ KIỆN</button>
                    <button id="info" onclick="window.location.href='https://portal.ut.edu.vn/'" >THÔNG TIN</button>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Tìm kiếm...">
                    <button type="submit" id="search-btn">Tìm</button>
                </div>
            </div>
        </div>

    <div>
        <p id="hihi"> Tổ chức sự kiện của trường UTH</p>
        <p id="haha">Trang web tổ chức sự kiện của Trường Đại học UTH là nền tảng trực tuyến giúp sinh viên, giảng viên và cộng đồng trường dễ dàng theo dõi và tham gia các sự kiện học thuật, văn hóa và thể thao. Các sự kiện được cập nhật liên tục, cung cấp thông tin chi tiết về thời gian, địa điểm và cách thức đăng ký. Trang web cũng hỗ trợ đăng ký trực tuyến, giúp người tham gia dễ dàng đăng ký và nhận thông báo kịp thời. Ngoài ra, người dùng có thể tìm kiếm các sự kiện theo chủ đề hoặc lĩnh vực quan tâm. Mục tiêu của trang web là tạo ra một không gian kết nối và giao lưu, góp phần nâng cao chất lượng học tập và trải nghiệm sinh viên tại UTH.</p>

    </div>

    <img id="anh" src="static\IMG\UTH.jpg">

    <div class="footer">
        <h3>Thông tin liên hệ</h3>
        <p>Địa chỉ: Số 123, Đường ABC, Quận 1, TP. Hồ Chí Minh</p>
        <p>Email: info@uth.com.vn</p>
        <p id="last">Website: www.uth.com.vn</p>
    </div>

</body>
</html>
